*{
  font-family: 'Fredoka', sans-serif;
}



.App {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

.area0{
  height: 5%;
  width: 100%;
  margin-left: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

.area1{
  height: 94%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

.area2{
  height: 90%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;  
}

.contenedor1{
  /* margin: 8px; */
  /* margin-top: 3%;
  margin-left: 4%;   */
  width: 100%;
  height: 86%;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: #EEEEEE;
  border-radius: 20px;
  overflow-y: overlay;
  justify-content: center;
  align-items: flex-start;
}
/* Modificar Scrollbar */
.contenedor1::-webkit-scrollbar {
  width: 5px;
 }
 .contenedor1:hover::-webkit-scrollbar {
  display: initial;
 }
 .contenedor1::-webkit-scrollbar-thumb {
 background-color: #EEEEEE;
 border-radius: 10px;    
 }
/* Fin Modificar Scrollbar */

.contenedor2{
  margin-top: 3%;
  margin-left: 4%;
  width: 40%;
  height: 55%;
  padding: 14px;
  background-color: #EEEEEE;
  border-radius: 20px;  
  overflow-y: auto;
}

/* .contenedor3{
  margin-left: 3%;
  margin-top: 1.5%;
  width: 100%;
  height: 90%;
  padding: 14px;
  background-color: #EEEEEE;
  border-radius: 20px;  
  overflow-y: auto;
} */


.contenedor3{
  /* margin: 8px; */
  /* margin-top: 3%;
  margin-left: 4%;   */
  width: 100%;
  height: 86%;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: #EEEEEE;
  border-radius: 20px;
  overflow-y: overlay;
  justify-content: center;
  align-items: flex-start;
}
/* Modificar Scrollbar */
.contenedor3::-webkit-scrollbar {
  width: 5px;
 }
 .contenedor3:hover::-webkit-scrollbar {
  display: initial;
 }
 .contenedor3::-webkit-scrollbar-thumb {
 background-color: #EEEEEE;
 border-radius: 10px;    
 }
/* Fin Modificar Scrollbar */

.contenedor-horario{
  margin-top: 0px;  
  width: 90%;
  height: 95%;
  padding: 14px;
  background-color: #EEEEEE;
  border-radius: 20px;  
  justify-content: center;
  overflow-y: auto;
}

.grupos-materia{  
  width: 100%; 
  height: 17%;     
  display: flex;    
}

.contenedor-grupo{  
  width: 100%;  
  height: 35%;     
  margin-bottom: 8px;
  justify-content: start;
  align-items: flex-start;
  display: flex;  
  flex-flow: row wrap;  
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;

  color: #13444F;
}

.etiqueta1{
  margin-top: 1px;
  font-family: 'Fredoka';
  font-style: normal;
  font-size: 16px;
  line-height: 15px;
  /* identical to box height */
  color: #000000;
}

.etiqueta2{
  margin-top: 1px;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;
}

.etiqueta2-2{  
  margin-top: 0.5px;
  margin-left: 7px;
  /* font-family: 'Fredoka'; */
  /* font-style: normal; */
  font-weight: bold;
  font-size: 20px;
  line-height: 17px;
  /* identical to box height */
  color: #000000;
}

.seleccionado{
  color: #000000;
}

.encabezado-horario {  
  width: 93%;  
  margin-top: 0px;
  margin-bottom: 8px;  
  display: flex;  
  justify-content: space-between;  
  font-weight: bold;
  font-size: 15px;
  background-color: #4D6165;
  color: white;
  padding: 11px 30px 11px 11px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.13);
  margin: 1px solid #888;  
}
